rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Events/{event_id} {
      function getRole(rsc) {
          // Read from the "roles" map in the resource (rsc).
          return rsc.data.roles[request.auth.uid];
      }
      allow create: if request.auth != null
      allow update,delete: if getRole(resource) == "owner"
      allow read: if true
      match /Questions/{question_id} {
        function isEventOwner() {
            return get(/databases/$(database)/documents/Events/{event_id}).data.roles[request.auth.uid] == "owner"
        }
        allow read: if true;
        allow create: if request.auth != null
        allow update,delete: if resource.data.AuthorID == request.auth.uid || isEventOwner()
      }
    }
  }
}